
<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-1">
	</head>

	<body style="background-color: #C5E8CC; font-family: monospace;">
		<table align="center" style="width:75%; bordercolor:#57BA6A; border:2px solid #57BA6A">
			<tr>
				<td style="background-color: #57BA6A">
					<img 	alt="RhinosLogo" align="middle" 
							src="http://pedrop225.comuf.com/rhinos/img/rhinos.png"
							width=15%>
				</td>
			</tr>
			
			<tr>
				<td>
					<table width=95% align="center">
						<tr>
							<td>
								<p>Estimado/a <b>#USER</b>:</p>
								
								<p align="justify">Con este mail le confirmamos que la dirección de correo <b>#MAIL</b> 
								ha sido registrada correctamente en nuestra base de datos como identificador de su cuenta.<p>
								 
								<p align=justify>Rogamos no responda este mail, ya que ha sido elaborado por un sistema de gestión automática.
								A partir de este momento, podrá usted descargar la aplicación desde:</p>
								
								<p>
								<a style="color: #57BA6A; font-weight: bold;" href=http://pedrop225.comuf.com/rhinos/download/Rhinos_#CVERSION.apk>Aplicación Movil</a><br>
								<a style="color: #57BA6A; font-weight: bold;" href=http://pedrop225.comuf.com/rhinos/download/RhinosDesktop-v2.1.jar>Aplicación Escritorio</a></p>
										
								<b>Datos de su registro:</b></br>
			
								<blockquote>
									usuario: <b>#USER</b><br>
									contraseña: <b>#PASSWORD</b></br></br>
								</blockquote>
								
								Atentamente: </br>
								<blockquote>
									<b>RhinosApp Services</b>
								</blockquote>
							</td>
						</tr>
					</table>
				</td>				
			</tr>
		</table>
	</body>
</html>